{% extends "layout.njk" %}
{% block head %}{% endblock %}

{% block content %}
    <div class="card">
        <section class="image" style="background:url({{student.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">

            <h2>Detalhes</h2>

            <div class="items">

                <div class="item">
                    <p>Nome Completo</p>
                    <p>{{student.name}}</p>
                </div>

                <div class="item">
                    <p>Email</p>
                    <p>{{student.email}}</p>
                </div>

                <div class="item">
                    <p>Aniversário</p>
                    <p>{{student.birth}}</p>
                </div>

                <div class="item">
                    <p>Ano Escolar</p>
                    <p>{{student.grade}}</p>
                </div>

                <div class="item">
                    <p>Carga Horária Semanal</p>
                    <p>{{student.workload}}</p>
                </div>


            </div>
            <button onclick="location.href='{{ student.id }}/edit'" type="button" >Editar</button>
        </section>
    </div>
{% endblock %}