{% extends "layout.njk" %}
{% block head %}{% endblock %}

{% block content %}
    <div class="card">
        <section class="image" style="background:url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">
            <form id="form-edit" method="POST" action="/teachers?_method=PUT">
                <h2>Editando Professor(a)</h2>

                {% include 'teachers/fields.njk'%}
                <input type="hidden" name="id" value="{{teacher.id}}">

            </form>
            <form class="form-delete" id="form-delete" action="/teachers?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{teacher.id}}">
            </form>

            <div class="divButtons">
                <button type="submit" form="form-edit">Salvar</button>
                <button type="submit" form="form-delete">Deletar</button>
            </div>
        </section>
    </div>
    {% include '../formDelete.njk' %}
{% endblock %}