{% extends "layout.njk" %}
{% block head %}{% endblock %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a href="/teachers/create">Novo</a>
            <form action="/teachers" method="GET">
            <input type="text" value="{{filter}}" name="filter" placeholder="Filtrar por Nome ou Área de Atuação">
            <button type="submit">Filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ teacher.avatar_url }})"></span>
                            {{ teacher.name }}
                        </td>
                        <td>
                            <span>{{teacher.subjects_taught}}</span>
                        </td>
                        <td>
                            <a href="/teachers/{{ teacher.id }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
    </div>
{% endblock %}