<script>
    const formDelete = document.querySelector(".form-delete")
    formDelete.addEventListener("submit", function (event) {
        const confirmation = confirm("Deseja Deletar?")
        if (!confirmation) {
            // cancelando a ação
            event.preventDefault()
        }
    })
</script>