{% extends "layout.njk" %}
{% block head %}{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="image" style="background:url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">

            <h2>Editando Professor(a)
                {{teacher.name}}</h2>

            {% include 'teachers/fields.njk'%}

        </section>
    </form>
{% endblock %}