{% extends "layout.njk" %}
{% block head %}{% endblock %}

{% block content %}
    <div class="card">
        <section class="image" style="background:url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">

            <h2>Detalhes</h2>

            <div class="items">

                <div class="item">
                    <p>Nome Completo</p>
                    <p>{{teacher.name}}</p>
                </div>

                <div class="item">
                    <p>Idade</p>
                    <p>{{teacher.age}}</p>
                </div>

                <div class="item">
                    <p>Grau de escolaridade</p>
                    <p>{{ teacher.education_level }}</p>
                </div>

                <div class="item">
                    <p>Tipo de aula</p>
                    <p>{{ "Presencial" if teacher.type_of_class == "Presential" else "À Distância" }}</p>
                </div>

                <div class="item">
                    <p>Acompanhamento</p>
                    <p>
                        {% for occupation in teacher.occupation_area %}
                            <span>{{occupation}}</span>
                        {% endfor %}
                    </p>
                </div>

                <div class="item">
                    <p>Desde</p>
                    <p>{{teacher.created_at}}</p>
                </div>
            </div>
            <button onclick="location.href='{{ teacher.id }}/edit'" type="button" >Editar</button>
        </section>
    </div>
{% endblock %}